<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.grabme.mappers.CategoryMapper">

	<!-- 위도,경도 값 받아서 거리순으로 정렬후 원하는 만큼 보여주기 -->
	<select id="selectCategoryWithXY" resultType="com.grabme.vo.ShopVO">
		select *,(6371*acos(cos(radians(#{y}))*cos(radians(y))*cos(radians(x)-radians(#{x}))+sin(radians(#{y}))*sin(radians(y))))
		as distance from shop where category_idx =#{category_idx}
		having distance <![CDATA[<=]]> 1 order by distance limit #{startNum},10
	</select>
	
</mapper>