<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.grabme.mappers.ExternalChannelMapper">
	
	<!-- 가게 채널 등록 -->
	<insert id="insertURL">
		insert into externalChannel(shop_idx,katalk_url,insta_url) value(#{shopIdx},#{katalkURL},#{instaURL});
	</insert>
	
</mapper>