<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.grabme.mappers.ReservationMapper">

	<!-- insert reservation -->
	<insert id="insertReservation">
		insert into reservation(user_idx,time_idx) value(#{user_idx},#{time_idx})
	</insert>

	<!-- select reservation list -->
	<select id="selectReservationList" resultType="com.grabme.vo.ShopListResVO">
		select reservation.reservation_idx, 
		shop.idx , shop.thumbnail, shop.title, shop.address, shop.phone,
		time.time_date, time.time_time from reservation 
		left join time on reservation.time_idx = time.time_idx
		left join shop on time.shop_idx = shop.idx
		where reservation.user_idx=#{user_idx} and DATE(NOW()) <![CDATA[<=]]> time_date
		order by time_date asc;
	</select>
	
	<!-- delete reservation -->
	<delete id="deleteReservation">
		delete from reservation where reservation_idx=#{reservation_idx};
	</delete>
	
	<!-- select time idx -->
	<select id="selectTimeIdx" resultType="Integer">
		select time_idx from reservation where reservation_idx=#{reservation_idx}
	</select>
	
	<!-- select reservation_idx by user -->
	<select id="selectReservationByUser" resultType="Integer">
		select reservation_idx from reservation where user_idx=#{user_idx}
	</select>

</mapper>