<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.grabme.mappers.ReservationMapper">

	<!-- 예약 등록 -->
	<insert id="insertReservation">
		insert into reservation(user_idx,time_idx) value(#{userIdx},#{timeIdx})
	</insert>

	<!-- 예약리스트와 카테고리리스트로 뿌려줄 객체 리스트 , 날짜순으로 정렬-->
	<select id="selectReservationList" resultType="com.grabme.vo.ShopListResVO">
		select
		reservation.reservation_idx as reservationIdx,
		shop.shop_idx as shopIdx,
		shop.shop_thumbnail as shopThumbnail,
		shop.shop_title as shopTitle,
		shop.shop_address as shopAddress,
		shop.shop_phone as shopPhone,
		time.time_date as timeDate,
		time.time_available as timeAvailable
		from reservation
		left join time on reservation.time_idx = time.time_idx
		left join shop on time.shop_idx = shop.shop_idx
		where reservation.user_idx=#{userIdx} and DATE(NOW()) <![CDATA[<=]]> time_date
		order by time_date asc;
	</select>
	
	<!-- 예약 삭제 -->
	<delete id="deleteReservation">
		delete from reservation where reservation_idx=#{reservation_idx};
	</delete>
	
	<!-- 선택된 예약의 타임 idx -->
	<select id="selectTimeIdx" resultType="Integer">
		select time_idx from reservation where reservation_idx=#{reservation_idx}
	</select>
	
	<!-- 선택된 유저의 예약 번호들 -->
	<select id="selectReservationByUser" resultType="Integer">
		select reservation_idx from reservation where user_idx=#{user_idx}
	</select>

</mapper>