<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.grabme.mappers.UserMapper">


	<!-- Check user in database -->
	<select id="checkUser" resultType="Integer">
		select count(*) from user where phone=#{phone} and status=#{status}
	</select>
	
	<!-- insert user -->
	<insert id="insertUser">
		insert into user(name,phone,status) value(#{name},#{phone},#{status})
	</insert>

	<!-- select user idx -->
	<select id="selectUserIdx" resultType="Integer">
		select idx from user where phone=#{phone} and status=#{status}
	</select>
	
	<!-- select user by time -->
	<select id="selectUserByTime" resultType="com.grabme.vo.UserVO">
		select user.* from reservation 
		left join user on user.idx = reservation.user_idx
		where reservation.time_idx = #{time_idx};
	</select>
	
	<!-- delete user -->
	<delete id="deleteUser">
		delete from user where idx=#{idx}
	</delete>
	
	<!-- return shop_idx or 0 -->
	<select id="selectReturnIdx" resultType="Integer">
		select if(status, 0 ,(select idx from shop where shop.user_idx=#{idx})) as "상태" FROM user where idx=#{idx}
	</select>

</mapper>