<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.grabme.mappers.UserMapper">

	<!-- 유저 번호와 상태(사장님/개인)를 받아 데이터베이스 존재여부 확인 -->
	<select id="checkUser" resultType="Integer">
		select count(*) from user where user_phone=#{userPhone} and user_status=#{userStatus}
	</select>
	
	<!-- 회원가입 -->
	<insert id="insertUser" >
		insert into user(user_name,user_phone,user_status) value(#{userName},#{userPhone},#{userStatus})
	</insert>
	
	<!-- 유저 탈퇴 -->
	<delete id="deleteUser">
		delete from user where user_idx=#{userIdx}
	</delete>

	<!-- 유저가 사장님이면 가게 번호를, 개인고객이면 0을 반환 -->
	<select id="selectReturnIdx" resultType="Integer">
		select if(user_status, 0, (if((select count(*) from shop where shop.owner_idx=#{userIdx} ) ,
		(select user_idx from shop where shop.owner_idx=#{userIdx}),0))) as "상태" FROM user where user_idx=#{userIdx}
	</select>
	
	<!-- 유저 정보 업데이트 -->
	<update id="updateUser">
		update user set user_profile_img=#{userProfileImg} where user_idx=#{userIdx}
	</update>
	
	<!-- 유저 프로필 주소 -->
	<select id="selectUserProfile" resultType="String">
		select user_profile_img from user where user_idx=#{userIdx}
	</select>

</mapper>